In [1]:
# pandas

In [2]:
# series

In [4]:
import numpy as np
import pandas as pd

In [9]:
my_list = [ 10 , 20, 30 , 40 , 50]

In [6]:
my_labels = [ 'A' , 'B', 'C' , 'D' , 'E']

In [7]:
np.arr = np.array([ 10 , 20 , 30 , 40 , 50 ])

In [8]:
my_dict = {'A' : 10 , 'B' :20 , 'C' : 30 , 'D': 40, 'E':50}

In [12]:
pd.Series (data= my_list , index= my_labels)

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [13]:
pd.Series(my_list , my_labels)

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [14]:
pd.Series( np.arr , my_labels )

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [15]:
pd.Series(my_dict)

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [16]:
pd.Series([ sum , len , print ])

0      <built-in function sum>
1      <built-in function len>
2    <built-in function print>
dtype: object

In [17]:
# it is actually storing refrences to built in functions in the table

In [28]:
ser_1 = pd.Series([ 10,20,30,40,59] ,['A' , 'B' , 'C' ,'D' ,'E' ])

In [29]:
ser_1

A    10
B    20
C    30
D    40
E    59
dtype: int64

In [42]:
ser_2 = pd.Series([22,33,55,66,77],['A' , 'B ', 'C' , 'D' , 'E'])

In [43]:
ser_2

A     22
B     33
C     55
D     66
E     77
dtype: int64

In [44]:
ser_1 + ser_2

A      32.0
B       NaN
B       NaN
C      85.0
D     106.0
E     136.0
dtype: float64

In [46]:
from numpy.random import randn
np.random.seed()

In [50]:
df = pd.DataFrame(randn(5,4),index='A B C D E '.split(),columns ='W X Y Z'.split())

In [51]:
df

          W         X         Y         Z
A  0.006790  0.737102 -0.898030  0.383325
B  0.612104  0.356212 -3.040366  1.161223
C  0.735422 -0.563524  0.549484  0.263848
D -0.236015  1.022148  1.024150  0.796738
E  0.501212 -0.710102 -1.068123 -1.457377

In [52]:
df['Z']

A    0.383325
B    1.161223
C    0.263848
D    0.796738
E   -1.457377
Name: Z, dtype: float64

In [53]:
type(df)

pandas.core.frame.DataFrame

In [54]:
type(df['X'])

pandas.core.series.Series

In [55]:
# SO A dataframe is nothing but a combination of series

In [57]:
df[['X' , 'Y' ,'Z']]

          X         Y         Z
A  0.737102 -0.898030  0.383325
B  0.356212 -3.040366  1.161223
C -0.563524  0.549484  0.263848
D  1.022148  1.024150  0.796738
E -0.710102 -1.068123 -1.457377

In [58]:
df.X

A    0.737102
B    0.356212
C   -0.563524
D    1.022148
E   -0.710102
Name: X, dtype: float64

In [59]:
df

          W         X         Y         Z
A  0.006790  0.737102 -0.898030  0.383325
B  0.612104  0.356212 -3.040366  1.161223
C  0.735422 -0.563524  0.549484  0.263848
D -0.236015  1.022148  1.024150  0.796738
E  0.501212 -0.710102 -1.068123 -1.457377

In [60]:
df['X+Y'] = df['X'] +df ['Y']

In [61]:
df

          W         X         Y         Z       X+Y
A  0.006790  0.737102 -0.898030  0.383325 -0.160928
B  0.612104  0.356212 -3.040366  1.161223 -2.684154
C  0.735422 -0.563524  0.549484  0.263848 -0.014040
D -0.236015  1.022148  1.024150  0.796738  2.046299
E  0.501212 -0.710102 -1.068123 -1.457377 -1.778225

In [62]:
df['X-Y'] = df['X'] -df['Y']

In [63]:
df

          W         X         Y         Z       X+Y       X-Y
A  0.006790  0.737102 -0.898030  0.383325 -0.160928  1.635133
B  0.612104  0.356212 -3.040366  1.161223 -2.684154  3.396579
C  0.735422 -0.563524  0.549484  0.263848 -0.014040 -1.113008
D -0.236015  1.022148  1.024150  0.796738  2.046299 -0.002002
E  0.501212 -0.710102 -1.068123 -1.457377 -1.778225  0.358021

In [64]:
df.drop ('X+Y')

KeyError: "['X+Y'] not found in axis"

In [65]:
# error because axis is not specified

In [66]:
df.drop ('E')

          W         X         Y         Z       X+Y       X-Y
A  0.006790  0.737102 -0.898030  0.383325 -0.160928  1.635133
B  0.612104  0.356212 -3.040366  1.161223 -2.684154  3.396579
C  0.735422 -0.563524  0.549484  0.263848 -0.014040 -1.113008
D -0.236015  1.022148  1.024150  0.796738  2.046299 -0.002002

In [67]:
# here axis is specified

In [68]:
df.drop('X-Y' , axis = 1)

          W         X         Y         Z       X+Y
A  0.006790  0.737102 -0.898030  0.383325 -0.160928
B  0.612104  0.356212 -3.040366  1.161223 -2.684154
C  0.735422 -0.563524  0.549484  0.263848 -0.014040
D -0.236015  1.022148  1.024150  0.796738  2.046299
E  0.501212 -0.710102 -1.068123 -1.457377 -1.778225

In [69]:
df

          W         X         Y         Z       X+Y       X-Y
A  0.006790  0.737102 -0.898030  0.383325 -0.160928  1.635133
B  0.612104  0.356212 -3.040366  1.161223 -2.684154  3.396579
C  0.735422 -0.563524  0.549484  0.263848 -0.014040 -1.113008
D -0.236015  1.022148  1.024150  0.796738  2.046299 -0.002002
E  0.501212 -0.710102 -1.068123 -1.457377 -1.778225  0.358021

In [70]:
# it appears again because inplace is set to false check documnetation for drop

In [71]:
df.drop('X-Y', axis=1 ,inplace=True)

In [72]:
df

          W         X         Y         Z       X+Y
A  0.006790  0.737102 -0.898030  0.383325 -0.160928
B  0.612104  0.356212 -3.040366  1.161223 -2.684154
C  0.735422 -0.563524  0.549484  0.263848 -0.014040
D -0.236015  1.022148  1.024150  0.796738  2.046299
E  0.501212 -0.710102 -1.068123 -1.457377 -1.778225

In [74]:
df.loc['A']

W      0.006790
X      0.737102
Y     -0.898030
Z      0.383325
X+Y   -0.160928
Name: A, dtype: float64

In [75]:
# the column name becomes the index and row A is displayed

In [76]:
df.iloc[0]

W      0.006790
X      0.737102
Y     -0.898030
Z      0.383325
X+Y   -0.160928
Name: A, dtype: float64

In [77]:
# above we specify the row index using integerloc

In [78]:
# by default all the values in pandas frame are considered float

In [79]:
df.loc['B' , 'X']

0.3562122529324108